
/*
    1750219 Yufan Zhang
    This assignment is a realization for to do list.
    FIle Content:
    index.html, the web page for to do do
    style.css, the style sheet for index.html
    .js, the JavaScript code for index.html 
*/

/* iconfont styel*/
.icon {
    width: 2em;
    height:2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }

.icon #icon-choosehandle{
    color: white;
}
body{
    margin: 0 6%;
    padding: 0;
    background-color:#f5f5f5;
}

h1{
    font-family: serif;
    font-size: 50px;
    font-weight: 900;
    margin: 5px auto;
    text-align: center;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

#input{
    height: 40px;
    background-color:white;
    border: 5px solid #8CA6DB;
    border-radius: 10px;
    box-shadow: 5px 5px #cccccc;
  
}

#newTodo{
    border: none;
    outline: none;
    height: 40px;
    width: 68%;
    padding: 0 5%;
    margin:auto;
    border-radius: 10px;
    font-size: 16px;
    color: black;
    font-family: "PingFangSC";
}

#addButton{
    width: 16%;
    height: 40px;
    margin: 0;
    padding: 0;
    vertical-align: center;
    border: none;
    outline: none;
    position: absolute;
    color: #8CA6DB;
    background-color: white;
    border-radius: 10px;
}
#filter ul{
    padding: 10px 15px;
    padding-top: 15px;
    height: 20px;
    border-bottom: 5px solid #8CA6DB;
    border-left: 5px solid #8CA6DB;
    border-right: 5px solid #8CA6DB;
    border-radius: 10px;
    box-shadow: 5px 5px #cccccc;
    position: relative;
    top: -20px;
    color: gray;
    font-size: 14px;
}
#filter li{
    display: inline;
}

#filter .selected{
    text-decoration-line: underline;
    font-weight: 900;
}

#list ul{
    padding: 0;
}

#list li{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* 强制flex item不换行，沿着同一行堆叠 */
    flex-wrap: nowrap;
    /* flex item在主轴上的对齐方式，这里定义左对齐 */
    justify-content: flex-start;
    /* 定义交叉轴对其方式 */
    align-items: flex-start;
   
}

.view{
   display: inherit;
    background-color:white;
    box-shadow: 3px 3px #cccccc;
    width: 100%;
    height: 50px;
    margin:10px 0;
    padding: 0 5px;
    border-radius: 5px;
}

.deleteSin{
    background: none;
    border: none;
    outline: none;
    height: 50px;
    margin: 0px;
}

.itemCheck{
    background: none;
    border: none;
    outline: none;
    height: 50px;
    margin: 0;
}
.todoItem{
    margin: auto 5px;
    width: 80%;
    font-size: 1em;
    background:none;  
	outline:none;  
    border:0px;
    padding:6px;

}

.completed .view{
    text-decoration-line: line-through;
    background: #B993D6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    color: white;

}
.completed button{
    color: white;
}

input:disabled{
    color: black;
}

.completed input:disabled{
    color: white;
}

.editing .todoItem{
    border:2px solid white;
}
#control{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* 强制flex item不换行，沿着同一行堆叠 */
    flex-wrap: nowrap;
    /* flex item在主轴上的对齐方式，这里定义左对齐 */
    justify-content:center;
    /* 定义交叉轴对其方式 */
    align-items: flex-start;
   
}
#control button{
    /*margin: 0;
    padding: 0;
    box-sizing: border-box;*/
    position: relative;
    outline: 0;
    position: relative;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 16px;
    background-color: #3B3933;
    background-clip: padding-box;
    color: #F6DFB4;
    padding: 4px 12px;
    margin: 0 2%;

}

#control button::after{
        position: absolute;
        top: -4px;
        bottom: -4px;
        left: -4px;
        right: -4px;
        background: linear-gradient(to right, #8CA6DB, #B993D6);
        content: '';
        z-index: -1;
        border-radius: 16px;
}
